/*
Native CSS Variables
*/

:root {
  --main-bg-color: #e3dfd3;
  --main-txt-color: #4a4128;
  --secondary-color: #9f9882;
  --tertiary-color: #93896d;
  --ff: "Montserrat", sans-serif;
  --ff-w-bold: 700;
  --ff-w-normal: 400;
  --ff-s-body: 16px;
  --ff-s-h1: 35px;
  --ff-s-h2: 18px;
  --ff-s-h3: 14px;
  --ff-s-h4: 13px;
  --ff-s-h5: 11px;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #202328; /* Fallback color IExplorer */
  font-family: var(--ff);
  font-weight: var(--ff-w-normal);
  font-size: var(--ff-s-body);
  line-height: 1.6;
}

h1 {
  font-size: var(--ff-s-h1);
  font-weight: var(--ff-w-bold);
  color: var(--tertiary-color);
  text-align: center;
  letter-spacing: 15px;
}

h2 {
  font-size: var(--ff-s-h2);
  font-weight: var(--ff-w-bold);
  color: var(--tertiary-color);
}

h3 {
  font-size: var(--ff-s-h3);
  font-weight: var(--ff-w-bold);
  color: var(--tertiary-color);
}

h5 {
  font-size: var(--ff-s-h5);
  font-weight: var(--ff-w-bold);
  color: var(--tertiary-color);
}

a {
  color: var(--main-bg-color);
}

a:visited {
  /* color: var(--main-bg-color); */
}

a:hover,
a:focus {
  text-decoration: none;
}

a:active {
  color: var(--main-txt-color);
}

.button-projects,
.button,
.button1,
button {
  border: none;
  color: #202328;
  /* takes the font from the outer container */
  font-family: inherit;

  /* styles the background color, font color, and text decoration (underline, etc.) of the button */
  background-color: none;
  text-decoration: none;
  

  /* adds spacing to the button (this will be discussed more in-depth later) */
  padding: 10px;
  border-radius: 3px;

  /* gives the button a bottom border with a width of 2px, a type of solid, and a color in RGBA format */
  border: 2px solid;
  border-color: #202328;
  transition: 0.2s;
}

.button-projects {
  color: #ebe8e0;
  border-color: #ebe8e0;
  border: 1px solid;
  padding: 3px;
}

.button-projects:hover,
.button-projects:focus,
button:hover,
button:focus,
.button1:hover,
.button1:focus,
.button:hover,
.button:focus {
  /* lets the mouse appear as a hand when hovering over the button */
  cursor: pointer;
  background-color: var(--tertiary-color);
  border-color: var(--tertiary-color);
  color: #ebe8e0;
}

.button1 {
  background-color: #202328;
  padding: 8px;
  border-bottom: none;
  color: var(--main-bg-color);
}

/*************** Header section ***************/
.page-header {
  position: fixed;
  top: 0;
  z-index: 4;
  display: flex;
  width: 100%;
  background-color: #202328;
}

.page-header__item {
  flex: 0 0 70px;
  width: 110px;
  height: 60px;
  margin-left: 50px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.page-header__item:last-child {
  flex-grow: 1;
  text-align: right;
  padding-right: 50px;
  padding-top: 1px;
}

/* for the points elimination */
.navigation-list {
  list-style-type: none;
}

/* just the list */
.navigation-list li {
  display: inline-block;
  margin-right: 25px;
}

/* The part above is made on FlexBox */

/*************** Start section ***************/
.page-profile {
  display: flex;
  flex-direction: row-reverse;
  max-width: 100%;
  justify-content: center;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: 100px;
  margin-bottom: 200px;
}

.page-profile__portrait {
  opacity: 0.7;
}

.page-profile__present {
  max-width: 250px;
  text-align: left;
}

.page-profile__present_what {
  max-width: 180px;
}

.page-profile__text {
  padding-top: 100px;
  padding-right: 150px;
  font-size: 13px;
}

.page-profile__from {
  color: #ebe8e0;
  padding-right: 100px;
}

/**************** About section ****************/
.project-about {
  clear: both;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 100px;
}

.page-about__first {
  background-color: #ebe8e0;
  color: #202328;
  padding-top: 40px;
  padding-bottom: 60px;
}

.project-about__first-item__wrapper {
  display: flex;
  flex-direction: row;
  margin: 20px;
}

.project-about__first-item {
  width: 60%;
  padding: 10px;
  margin: auto;
  margin-top: 30px;
  text-align: justify;
}

.project-about__second {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--main-bg-color);
  margin-top: 50px;
}

.skill-images-group-block {
 display: grid;
 justify-content: center;
 margin-top: 40px;
}

.skills-images-group {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin-left: 100px;
}

.skills-images-item {
  margin-right: 100px;
}

.skill-images {
  width: 70px;
}

.skills-description {
  color: #93896d;
}

/**************** Work section ***************/

.project-list__section {
  padding-top: 10px;
  background-color: #ebe8e0;
}

.project-list__title {
  display: block;
  max-width: 280px;
  margin: auto;
  margin-bottom: 30px;
  margin-top: 70px;
}

/* The part under is made on GRID */

/* this is the start of the fallback */
.project-list__item {
  display: inline-block;
  width: 33%;
}

/* this is the end of the fallback */

/* the part under is to make sure, when it's possible to run Grid, it does */

@supports (display: grid) {
  .project-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 20px;
    padding: 30px;
  }
}

/* The part above is made on Grid */

.project-project {
  /* margin-top: -150px; */
  /* margin-bottom: 150px; */
  width: 100%;
  display: grid;
  
}



.project__img {
  width: 70%;
  transition: all 500ms ease;
  border-radius: 2%;
  opacity: 0.9;
}

.project-wrapper {
  
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  background-color: #1c1f24;
  padding: 5px 20px 20px;
  border: 1px;
  border-style: solid;
  border-color: var(--secondary-color);
  width: auto;
  min-height: auto;
  /* margin: 0; */
}

.project-wrapper:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #12131b;
  opacity: 0;
  transition: all 450ms ease;
  z-index: 2;
  transform: translateY(100%);
}

.project-project:hover .project-wrapper:before {
  transform: translateY(0);
  opacity: 0.7;
}

.project-project:hover .project__img {
  transform: scale(1.05);
  filter: blur(5px);
}

.project-project:hover .project-description {
  opacity: 0.9;
  transform: translateY(-50%);
}

.project-description {
  position: absolute;
  color: #e3dfd3;
  left: 20px;
  top: 45%;
  width: 600px;
  transform: translateY(100%);
  z-index: 3;
  opacity: 0;
  transition: transform 450ms, opacity 300ms;
}

.project__description-title {
  font-size: 20px;
}

.project__description-p {
  margin: 16px 0;
  font-size: 12px;
}

.project__description-link {
  font-size: 5px;
  margin-right: 16px;
}

.project__description-title,
.project__description-subtitle,
.project__description-p,
.project__description-link {
  text-align: left;
}

/**************** Contact section ***************/

.contact-wrapper {
  clear: both;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 70px;
  margin-bottom: 30px;
}

.contact-title {
  padding-bottom: 40px;
}


.contact-text {
  padding-bottom: 70px;
  color: #93896d;
}

.contact-social-media {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 30px;
}

.contact-social-media__item {
  max-width: 60px;
}

.button-social-media {
  transform: scale(1);
  transition: transform 0.2s;
}

.button-social-media:hover {
  cursor: pointer;
  transform: scale(1.1);
}

/**************** Footer section ***************/

.footer-text {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #93896d;
}

/*************** Case Study section ***************/

.case-study_main {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.case-study_title {
  display: flex;
  justify-content: center;
  padding-top: 150px;
}

.case-study_text {
  color: #e3dfd3;
}

.case-study_introduction {
  display: flex;
  flex-direction: row;
  margin: 60px;
}

.case-study_introduction-first {
  margin-right: 30px;
}

.case-study_introduction-second {
  margin-left: 30px;
}

.case-study_explanation {
  display: flex;
  flex-direction: column;
  margin: 60px;
}

.case-study_end {
  display: flex;
  flex-direction: column;
  margin-left: 60px;
}

.case-study_picture_main {
  display: flex;
  justify-content: center;
}

.case-study_picture_main_element {
  width: 160px;
  opacity: 0.7;
  box-shadow: 0 0 20px 5px;
}

.case-study_picture_main-two {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 50px;
  margin-right: -10px;
}

.case-study_picture_main_element_two {
  width: 500px;
  margin: 10px;
  opacity: 0.8;
  box-shadow: 0 0 20px 5px;
}

.case-study_explanation {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
}

.case-study_approach {
  margin-top: 40px;
  margin-right: 20px;
}

.case-study_challenges {
  display: flex;
  flex-direction: column;
  margin-left: 60px;
  margin-right: 60px;
}

.case-study_picture_main-three {
  display: flex;
  flex-direction: row;
  margin: 60px;
}

.case-study_picture_main_element_three {
  width: 300px;
  margin: 10px;
  opacity: 0.8;
  box-shadow: 0 0 20px 5px;
}

/*************** Back-to-top Section under ***************/

.back-to-top-down {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* Mobile Querie under */

@media all and (max-width: 500px) {
  /* <Header> */
  .page-header {
    display: flex;
  }

  /* Index.html <main> */
  .page-profile__portrait {
    margin: auto;
  }

  .page-profile__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 150px;
  }

  .page-profile__present {
    margin-left: 20px;
  }

  /* About.html <main> */
  /* empty */

  /* Work.html <main> */
  /* empty */

  /* Contact.html <main> */
  .project-contact__second {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
  }
  /* <Footer> */
  /* empty */
}

@media all and (min-width: 500px) and (max-width: 750px) {
  /* <Header> */
  .sandwich {
    display: none;
  }

  .navigation-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .testy {
    padding: 1px;
  }
  /* Index.html <main> */
  .page-profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .page-profile__portrait {
    margin: auto;
  }

  .page-profile__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 150px;
  }

  .page-profile__present {
    margin-left: 20px;
  }

  /* About.html <main> */
  /* empty */

  /* Work.html <main> */
  /* empty */

  /* Contact.html <main> */
  /* empty */

  /* <Footer> */
  /* empty */
}

@media all and (max-width: 768px) {
  /* <Header> */
  .navigation-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  h1 {
    font-size: 22px;
  }
  /* Index.html <main> */
  .page-profile__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 150px;
  }

  .page-profile__present {
    margin-left: 20px;
  }

  /* About.html <main> */
  .project-about__first-item__wrapper {
    display: flex;
    flex-direction: column;
  }

  /* Work.html <main> */
  /* empty */

  .skills-images-group {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 1fr 1fr;
    grid-gap: 20px;
  }

  /* Contact.html <main> */
  /* empty */

  /* <Footer> */
  /* empty */
}

@media all and (max-width: 1124px) {
  /* <Header> */
  .navigation-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  /* Index.html <main> */
  .page-profile__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 150px;
  }

  .page-profile__present {
    margin-left: 20px;
  }

  .page-profile__from {
    color: #ebe8e0;
    padding-right: 0;
  }
  

  /* About.html <main> */
  /* empty */

  /* Work.html <main> */
  .project-list {
    grid-template-columns: 1fr;
  }

  /* Contact.html <main> */
  /* empty */

  /* <Footer> */
  /* empty */
}
