/*
Native CSS Variables
*/

:root {
  --main-bg-color: #e3dfd3;
  --main-txt-color: #4a4128;
  --secondary-color: #9f9882;
  --tertiary-color: #93896d;
  --ff: "Montserrat", sans-serif;
  --ff-w-bold: 700;
  --ff-w-normal: 400;
  --ff-s-body: 16px;
  --ff-s-h1: 35px;
  --ff-s-h2: 18px;
  --ff-s-h3: 14px;
  --ff-s-h4: 13px;
  --ff-s-h5: 11px;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #202328; /* Fallback color IExplorer */
  font-family: var(--ff);
  font-weight: var(--ff-w-normal);
  font-size: var(--ff-s-body);
  line-height: 1.6;
}

h1 {
  font-size: var(--ff-s-h1);
  font-weight: var(--ff-w-bold);
  color: var(--tertiary-color);
  text-align: center;
  letter-spacing: 15px;
}

h2 {
  font-size: var(--ff-s-h2);
  font-weight: var(--ff-w-bold);
  color: var(--tertiary-color);
}

h3 {
  font-size: var(--ff-s-h3);
  font-weight: var(--ff-w-bold);
  color: var(--tertiary-color);
}

h5 {
  font-size: var(--ff-s-h5);
  font-weight: var(--ff-w-bold);
  color: var(--tertiary-color);
}

a {
  color: var(--main-bg-color);
}

a:visited {
  /* color: var(--main-bg-color); */
}

a:hover,
a:focus {
  text-decoration: none;
}

a:active {
  color: var(--main-txt-color);
}

.button-projects,
.button,
.button1,
button {
  border: none;
  color: #202328;
  /* takes the font from the outer container */
  font-family: inherit;

  /* styles the background color, font color, and text decoration (underline, etc.) of the button */
  background-color: none;
  text-decoration: none;
  

  /* adds spacing to the button (this will be discussed more in-depth later) */
  padding: 10px;
  border-radius: 3px;

  /* gives the button a bottom border with a width of 2px, a type of solid, and a color in RGBA format */
  border: 2px solid;
  border-color: #202328;
  transition: 0.2s;
}

.button-projects {
  color: #ebe8e0;
  border-color: #ebe8e0;
  border: 1px solid;
  padding: 3px;
}

.button-projects:hover,
.button-projects:focus,
button:hover,
button:focus,
.button1:hover,
.button1:focus,
.button:hover,
.button:focus {
  /* lets the mouse appear as a hand when hovering over the button */
  cursor: pointer;
  background-color: var(--tertiary-color);
  border-color: var(--tertiary-color);
  color: #ebe8e0;
}

.button1 {
  background-color: #202328;
  padding: 8px;
  border-bottom: none;
  color: var(--main-bg-color);
}

/*************** Header section ***************/

header {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  background: inherit;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.05);
  z-index: 1000;
}

.sandwich {
  width: 80px;
  height: 45px;
  margin-top: 25px;
  margin-left: 25px;
  margin-bottom: 15px;
}

#toggle {
  position: absolute;
  top: 14px;
  right: 0;
  width: 60px;
  height: 60px;
  background: inherit;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

#toggle::before {
  content: '';
  position: absolute;
  width: 28px;
  height: 2px;
  background: #93896d;
  transform: translateY(-5px);
  transition: 0.2s;
}

#toggle::after {
  content: '';
  position: absolute;
  width: 28px;
  height: 2px;
  background: #93896d;
  transform: translateY(5px);
  transition: 0.2s;
}

#toggle.active::before {
  transform: translateY(0px) rotate(45deg);
}

#toggle.active::after {
  transform: translateY(0px) rotate(-45deg);
}

#toggle.active {
  background: inherit;
}

#navbar {
  position: relative;
  height: 60px;
  right: 60px;
  background: inherit;
  transition: 0.5s;
  width: 0px;
  overflow: hidden;
}

#navbar.active {
  width: 540px;
}

#navbar ul {
  position: relative;
  display: flex;
  flex-direction: row;
}

#navbar ul li {
  list-style: none;
}

#navbar ul li a {
  color: #93896d;
  height: 60px;
  line-height: 60px;
  display: inline-block;
  text-decoration: none;
  font-size: 1.2rem;
  padding: 0 15px;
  letter-spacing: 2px;
  border: none;
}

#navbar ul li a:hover {
  opacity: 0.5;
  background: none;
  border: none;

}

/*************** Start section ***************/
.page-profile {
  display: flex;
  justify-content: center;
  margin-top: 150px;
  margin-bottom: 150px;
}

.page-profile__portrait {
  opacity: 0.7;
}

.page-profle__present-wrapper {
  display: flex;
  flex-direction: row;
  margin-top: 100px;
  margin-left: 190px;
}

.page-profile__present {
  font-size: 40px;
  font-stretch: wider;
  color: white;
}

.page-profile__present_what {
  margin-top: 53px;
}

.page-profile__text {
  font-size: 13px;
  text-align: center;
}

.page-profile__from {
  color: #ebe8e0;
  margin-top: -20px;
  margin-left: 190px;
}

/**************** About section ****************/
.project-about {
  clear: both;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 100px;
  max-width: 100%;
}

.page-about__first {
  background-color: #ebe8e0;
  color: #202328;
  padding-top: 40px;
  padding-bottom: 60px;
}

.project-about__first-item__wrapper {
  display: flex;
  flex-direction: row;
  margin: 20px;
}

.project-about__first-item {
  width: 100%;
  padding: 10px;
  margin: auto;
  margin-top: 30px;
  text-align: justify;
}

.project-about__second {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--main-bg-color);
  margin-top: 50px;
}

.skill-images-group-block {
 display: grid;
 justify-content: center;
 margin-top: 40px;
}

.skills-images-group {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  
}

.skills-images-item {
  margin-right: 50px;
  margin-left: 50px;
}

.skill-images {
  width: 70px;
}

.skills-description {
  color: #93896d;
}

/**************** Work section ***************/

.project-list__section {
  padding-top: 10px;
  background-color: #ebe8e0;
}

/* The part under is made on GRID */

/* this is the start of the fallback */
.project-list__item {
  display: inline-block;
  width: 33%;
}

/* this is the end of the fallback */

/* the part under is to make sure, when it's possible to run Grid, it does */

@supports (display: grid) {
  .project-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 20px;
    padding: 30px;
  }
}

/* The part above is made on Grid */

.project-project {
  /* margin-top: -150px; */
  /* margin-bottom: 150px; */
  width: 100%;
  display: grid;
  
}



.project__img {
  width: 350px;
  margin-top: 50px;
  transition: all 500ms ease;
  border-radius: 2%;
  opacity: 0.9;
}

.project-wrapper {
  
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  background-color: #1c1f24;
  padding: 5px 20px 20px;
  border: 1px;
  border-style: solid;
  border-color: var(--secondary-color);
  width: auto;
  min-height: auto;
  /* margin: 0; */
}

.project-wrapper:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #12131b;
  opacity: 0;
  transition: all 450ms ease;
  z-index: 2;
  transform: translateY(100%);
}

.project-project:hover .project-wrapper:before {
  transform: translateY(0);
  opacity: 0.7;
}

.project-project:hover .project__img {
  transform: scale(1.05);
  filter: blur(5px);
}

.project-project:hover .project-description {
  opacity: 0.9;
  transform: translateY(-50%);
}

.project-description {
  position: absolute;
  color: #e3dfd3;
  left: 20px;
  top: 45%;
  width: 600px;
  transform: translateY(100%);
  z-index: 3;
  opacity: 0;
  transition: transform 450ms, opacity 300ms;
}

.project__description-title {
  font-size: 20px;
}

.project__description-subtitle {
  width: 350px;
}

.project__description-p {
  margin: 16px 0;
  font-size: 12px;
  width: 350px;
}

.project__description-link {
  font-size: 5px;
  margin-right: 16px;
}

.project__description-title,
.project__description-subtitle,
.project__description-p,
.project__description-link {
  text-align: left;
}

/**************** Contact section ***************/

.contact-wrapper {
  clear: both;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 70px;
  margin-bottom: 30px;
}

.contact-title {
  padding-bottom: 40px;
}


.contact-text {
  padding-bottom: 70px;
  color: #93896d;
}

.contact-social-media {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 30px;
}

.contact-social-media__item {
  max-width: 67px;
  margin-right: 10px;
  margin-left: 10px;
}

.button-social-media {
  transform: scale(1);
  transition: transform 0.2s;
}

.button-social-media:hover {
  cursor: pointer;
  transform: scale(1.1);
}

/**************** Footer section ***************/

.footer-text {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #93896d;
}

/*************** Case Study section ***************/

.case-study_main {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.case-study_title {
  display: flex;
  justify-content: center;
  padding-top: 150px;
}

.case-study_text {
  color: #e3dfd3;
}

.case-study_introduction {
  display: flex;
  flex-direction: row;
  margin: 60px;
}

.case-study_introduction-first {
  margin-right: 30px;
}

.case-study_introduction-second {
  margin-left: 30px;
}

.case-study_explanation {
  display: flex;
  flex-direction: column;
  margin: 60px;
}

.case-study_end {
  display: flex;
  flex-direction: column;
  margin-left: 60px;
}

.case-study_picture_main {
  display: flex;
  justify-content: center;
}

.case-study_picture_main_element {
  width: 160px;
  opacity: 0.7;
  box-shadow: 0 0 20px 5px;
}

.case-study_picture_main-two {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 50px;
  margin-right: -10px;
}

.case-study_picture_main_element_two {
  width: 500px;
  margin: 10px;
  opacity: 0.8;
  box-shadow: 0 0 20px 5px;
}

.case-study_explanation {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
}

.case-study_approach {
  margin-top: 40px;
  margin-right: 20px;
}

.case-study_challenges {
  display: flex;
  flex-direction: column;
  margin-left: 60px;
  margin-right: 60px;
}

.case-study_picture_main-three {
  display: flex;
  flex-direction: row;
  margin: 60px;
}

.case-study_picture_main_element_three {
  width: 300px;
  margin: 10px;
  opacity: 0.8;
  box-shadow: 0 0 20px 5px;
}

/*************** Back-to-top Section under ***************/

.back-to-top-down {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* Mobile Querie under */


@media all and (max-width: 1124px) {
  /**************  Header Section  **************/

  /* nav ul {
    margin-right: 30px;
  } */

  /**************  Work Section  **************/
  .project-list {
    grid-template-columns: 1fr 1fr;
  }

  .project__img {
    margin-left: 40px;
  }
}

@media all and (max-width: 768px) {
  /**************  Header Section  **************/

  #navbar {
    position: fixed;
    bottom: -100%;
    right: 0;
    width: 100%;
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 60px);
  }

  #navbar.active {
    height: calc(100vh - 60px);
    bottom: 0;
    width: 100%;
  }

  #navbar ul {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  /**************  Presentation Section  **************/

  .page-profile__portrait {
    width: 300px;
  }
 
  .page-profle__present-wrapper {
    display: flex;
    flex-direction: column;
    margin-left: 60px;
  }
  
  .page-profile__present {
    font-size: 30px;
  }
  
  .page-profile__present_what {
    margin-top: -20px;
  }
  
  .page-profile__from {
    margin-left: 60px;
    margin-top: 2px;
  }

  /**************  About Section  **************/
  .project-about__first-item__wrapper {
    display: flex;
    flex-direction: column;
  }

  .skills-images-item {
    margin-right: 20px;
    margin-left: 20px;
  }

  /**************  Work Section  **************/

  .project__img {
    margin: 0;
    padding-right: 50px;
    padding-top: 20px;
    
  }

}

@media all and (max-width: 480px) {
  
  /**************  Header Section  **************/

  /**************  Presentation Section  **************/

  .page-profile {
    display: flex;
    flex-direction: column;
  }

  .page-profile__portrait {
    width: 300px;
    margin-left: 100px;
  }

  .page-profile__text-wrapper {
    margin-top: -50px;
  }

  /**************  About Section  **************/

  .skills-images-group {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      
  }

  /**************  Work Section  **************/

  .project-list {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 20px;
    padding: 30px;
  }

  .project-wrapper {
    height: 200px;
  }

  .project__img {
    width: 350px;
    margin-left: 40px;
  }

  .project__description-title {
    font-size: 12px;
  }

  .project__description-subtitle {
    font-size: 10px;
  }

  .project__description-p {
    width: 220px;
    font-size: 9px;
  }

  .button-projects {
    
  }

  /**************  Footer Section  **************/

  .footer-text {
    text-align: center;
  }

}

@media all and (max-width: 425px) {

  /**************  Presentation Section  **************/

  .page-profile__portrait {
    margin-left: 70px;
  }

  .page-profile__from {
    margin-top: 2px;
  }

  .page-profile__text-wrapper {
    margin-right: 30px;
  }

  /**************  Work Section  **************/

  .project__img {
    margin: 0;
  }

  .project__description-p {
    width: 300px;
  }
}

@media all and (max-width: 375px) {

  /**************  Presentation Section  **************/

  .page-profile__portrait {
    margin-left: 40px;
  }

  .page-profile__from {
    margin-right: 10px;
    margin-top: 2px;
  }

  /**************  Work Section  **************/

  .project__img {
    margin: 0;
    padding-right: 80px;
  }

  .project__description-p {
    width: 280px;
  }

}

@media all and (max-width: 320px) {

  /**************  Presentation Section  **************/

  .page-profile__portrait {
    margin-left: 10px;
  }

  .page-profile__text-wrapper {
    margin-left: 0;
  }

  .page-profile__from {
    margin-right: 0;
  }

  /**************  Work Section  **************/

  .project__img {
    margin: 0;
    padding-right: 130px;
  }

  .project__description-p {
    width: 220px;
  }

}
